*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    padding: 0 120px;
}

/*styling for header section*/
header{
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: space-between;
}
header img{
    max-width: 140px;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
header button{
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}