*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*styling for header section*/
header{
    display: flex;
    align-items: center;
    padding: 16px 120px;
    justify-content: space-between;
}
header img{
    max-width: 140px;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
header button{
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
header button:hover{
    cursor: pointer;
    background-color: #469165c2;
}

/* styling for hero section */
.banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    padding: 70px 120px 134px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.banner .banner-container .early-access{
    padding: 8px 12px;
    background-color: white;
    border-radius: 1000px;
    display: flex;
    align-items: center;
}
.banner .banner-container p{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner .banner-container h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
}
.banner .banner-container .details{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
.banner .banner-container .btn{
    display: flex;
    gap: 16px;
}
.banner .banner-container .btn button{
    padding: 16px;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}
.banner .banner-container .btn button:hover{
    cursor: pointer;
    background-color: #469165c2;
}
.banner .banner-container .btn .btn1{
    background-color: transparent;
    border: 1px solid white;
}
.banner .banner-container .btn .btn1:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.045);
}

/* note section styling */
.note{
    padding: 60px 120px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
}
.note h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.note p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-container{
    display: flex;
    gap: 24px;
}
.card-container .card{
    padding: 70px 24px 0px;
    box-shadow: 0 0 8px white;
    border: 1px solid rgba(155, 150, 150, 0.168);
    background-color: white;
    border-radius: 8px;
    max-width: 322px;
}
.card img{
    background-color: #F95555;
    border: 10px solid #F95555;
    border-radius: 50%;
    max-width: 60px;
    margin-bottom: 16px;
}
.card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

/* Second Brain styling */
.second-brain{
    padding: 120px 120px 32px;
    display: flex;
    gap: 60px;
    align-items: center;
}
.second-brain-details h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}
.second-brain-details h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.second-brain-details p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.second-brain-details ul{
    list-style: none;
}
.second-brain-details ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

/* Early Access Section styling */
.early-access{
    padding: 0 120px 120px;
}
.early-access .early-access-card{
    background-color: #F7F6F2;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 60px ;
}
.early-access-card h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.early-access-card p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    text-align: center;
}
.early-access-card button{
    padding: 16px;
    background-color: #469165;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.early-access-card button:hover{
    cursor: pointer;
    background-color: #469165c2;
}